/* ================================
   1. ЗАГАЛЬНІ НАЛАШТУВАННЯ
================================ */

* {
  box-sizing: border-box; /* Щоб розміри елементів рахувались правильно */
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #E8F2F9; /* Темно-синій — колір глибокого океану */
  color: #273034;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;

}

/* ================================
   2. HEADER
================================ */

.header {
display: flex;
flex-direction: column;
background-color: linear-gradient(#006094,#67BAFD);
}

/* ================================
   3. СЕКЦІЯ "DISCOVERED SPECIES"
================================ */

/* ================================
   4. КАРТКА ТВАРИНИ
================================ */

